.accordeon {
    display: flex;
    flex-direction: column; /* Assurez-vous que l'accordéon soit en mode colonne */
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
}

.accordeon-item {
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
}

.accordeon-item:last-child {
    border-bottom: none;
    margin-bottom: 0;
}

.accordeon-header {
    background-color: #f7f7f7;
    padding: 15px;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
}

.accordeon-content {
    display: none; /* Par défaut, cacher le contenu */
    height: 0; /* Hauteur initiale 0 pour l'animation */
    padding: 0 15px; /* Marge horizontale pour le texte */
    background-color: #fff;
    overflow: hidden; /* Cache le contenu qui dépasse */
    transition: height 0.5s ease-out, padding 0.3s ease-out; /* Animation de hauteur et padding */
}

.accordeon-content.show {
    display: block; /* Afficher le contenu */
    height: auto; /* La hauteur s'ajuste au contenu */
    padding: 15px; /* Ajouter un padding pour l'effet de déploiement */
}

.accordeon__item--active .accordeon__header {
    background-color: #e2e2e2; /* Changer la couleur de fond de l'en-tête quand actif */
}

.accordeon__item--active .accordeon__content {
    display: block;
    height: auto; /* La hauteur s'ajuste automatiquement */
    padding: 15px; /* Ajoute un padding quand l'élément est ouvert */
}

.accordeon-item img {
    margin: 0 30px;
    width: 100%;
    height: auto;
}




details {
    position: relative;
}

details[open] {
}

details>summary {
    cursor: pointer;
    display: block;
    padding: 10px;
    background-color: #f7f7f7;
    font-weight: bold;
    text-align: center;
}

